AGENT_URL=http://10.0.0.64:5001
MQTT_HOST=10.0.0.180
MQTT_USER=harvester
MQTT_PASS=letmein
SITE=foxwood
DEVICE_ID=MAZAK-SN328525
POLL_INTERVAL_SEC=2
TELEMETRY_INTERVAL_SEC=1800
HEARTBEAT_INTERVAL_SEC=30
TZ=Europe/London
